<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>爱加HOME</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/images/favicon.ico">
        <!-- App css -->
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link href="<%$smarty.const.PUBLIC_ROOT_URL%>assets/css/style.css?version=1.01.02" rel="stylesheet" type="text/css" />
        <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/modernizr.min.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="<%$smarty.const.ACSS_URL%>main.css?version=1.01.02" id="color-switcher-link">
        <link rel="stylesheet" href="<%$smarty.const.ACSS_URL%>animations.css">
        <link rel="stylesheet" href="<%$smarty.const.ACSS_URL%>fonts.css">

    </head>
    <body>
        <!-- Begin page -->
        <div id="wrapper">
            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="#" class="logo">
                        <span>
                            <img src="<%$smarty.const.PUBLIC_ROOT_URL%>images/logo_title.png" alt="" height="50">
                        </span>
                        <i>
                            <img src="<%$smarty.const.PUBLIC_ROOT_URL%>images/logo_sm.png" alt="" height="64">
                        </i>
                    </a>
                </div>
                <nav class="navbar-custom">
                    <ul class="list-unstyled topbar-right-menu float-right mb-0">

                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="fa fa-user-o mr-0"></i> <span class="ml-1"><i class="mdi mdi-chevron-down"></i> </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h6 class="text-overflow m-0">欢迎!</h6>
                                </div>

                                <!-- item-->
                                <a href="<%$smarty.const.__APP__%>/sale/saleinfo?token=<%$token%>&sale_id=<%$id%>" class="dropdown-item notify-item">
                                    <i class="fi-head"></i> <span>修改密码</span>
                                </a>

                                <!-- item-->
                                <a href="<%$smarty.const.__APP__%>/login" class="dropdown-item notify-item">
                                    <i class="fi-power"></i> <span>退出登陆</span>
                                </a>

                            </div>
                        </li>

                    </ul>
                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="dripicons-menu"></i>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Top Bar End -->

            <!-- ========== Left Sidebar Start ========== -->
            <div class="left side-menu">
                <div class="slimscroll-menu" id="remove-scroll">
                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu" id="side-menu">
                            <li class="menu-title">爱加HOME</li>
                            <li>
                                <a href="<%$smarty.const.__CONTROLLER__%>/index?token=<%$token%>&sale_id=<%$id%>">
                                    <i class="fa fa-desktop"></i><span class="badge badge-danger badge-pill pull-right"></span> <span> 今日新品 </span>
                                </a>
                            </li>
                            <li>
                                <a href="<%$smarty.const.__CONTROLLER__%>/waretop?token=<%$token%>&sale_id=<%$id%>">
                                    <i class="dripicons-trophy"></i><span class="badge badge-danger badge-pill pull-right"></span> <span> 热销TOP-10 </span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="fa fa-amazon"></i> <span> 商品查询 </span><span class="menu-arrow"></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="<%$smarty.const.__CONTROLLER__%>/hiswarebyname?token=<%$token%>&sale_id=<%$id%>">商品名称搜索</a></li>
                                    <li><a href="<%$smarty.const.__CONTROLLER__%>/hisware?token=<%$token%>&sale_id=<%$id%>">时间搜索</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript: void(0);"><i class="fa fa-cart-plus"></i> <span> 订单 </span> <span class="menu-arrow"></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <!--li><a href="<%$smarty.const.__CONTROLLER__%>/myorder?token=<%$token%>&sale_id=<%$id%>">今日订单</a></li-->
                                    <li><a href="<%$smarty.const.__CONTROLLER__%>/hisorder?token=<%$token%>&sale_id=<%$id%>">订单查询</a></li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);"><i class="fa fa-group"></i> <span> 我的客户 </span> <span class="menu-arrow"></span></a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li><a href="<%$smarty.const.__CONTROLLER__%>/myuserinfo?token=<%$token%>&sale_id=<%$id%>">地址管理</a></li>
                                    <li><a href="<%$smarty.const.__CONTROLLER__%>/mysaleinfo?token=<%$token%>&sale_id=<%$id%>">销售详情</a></li>
                                </ul>
                            </li>

                            <li class="menu-title">格调</li>

                            <li>
                                <a href="<%$smarty.const.__CONTROLLER__%>/touch?token=<%$token%>&sale_id=<%$id%>"><i class="fa fa-coffee"></i> <span> 下午茶时光 </span> </a>
                            </li>
                            <li>
                                <a href="<%$smarty.const.__CONTROLLER__%>/touch2?token=<%$token%>&sale_id=<%$id%>"><i class="mdi mdi-food-fork-drink"></i> <span> 爱加美味-品尝 </span> </a>
                            </li>

                        </ul>

                    </div>
                    <!-- Sidebar -->
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -left -->
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                <div class="ls section_padding_top_30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg">
                                <div class="page-about__title-wrapper">
                                    <h3 class="content-block__title"><span class="content-block__title-block"><span>今日新品</span></span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ls section_padding_bottom_25">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul id="gallery_blog-carousel" class="gallery_item-carousel home-blog__carousel">
                                    <%foreach $wares as $v%>
                                    <li>
                                        <div class="home-blog__carousel-wrapper">
                                            <figure class="home-blog__carousel-img">
                                                <a  href="#">
                                                    <img src="<%$smarty.const.PUBLIC_ROOT_URL%>uploads/<%$v['pic_url']%>" >
                                                </a>
                                            </figure>
                                            <div class="post__content">
                                                <div class="post__meta">
                                                    <ul class="post__meta-list">
                                                        <li>
                                                            <div class="price">
                                                                <p  style="float:right;color:#0D4D78">零售价:￥<%$v['out_price']%></p>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <div class="price">
                                                                <p  style="color:#FFA560">赚￥<%sprintf("%.02f", $v['out_price']*0.12)%></p>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--a>点击名称进入详情</a-->
                                                <h3 class="post__title">
                                                    <a href="<%$smarty.const.__APP__%>/sale/wareinfo?token=<%$token%>&ware_id=<%$v['wid']%>&sale_id=<%$id%>" rel="bookmark" style="color:#2080E0" ><%$v["name"]%><i class="fa fa-caret-square-o-right m-t-0"></i></a>
                                                </h3>
                                                <!--div class="post__text-content">
                                                    <p><%$v['info']%></p>
                                                </div-->

                                                <div class="shop-item__block ">
                                                    <a href="<%$smarty.const.__APP__%>/sale/buyware?token=<%$token%>&ware_id=<%$v['wid']%>&sale_id=<%$id%>" class="shop-item__button">购买</a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <%/foreach%>
                                </ul>
                            </div>
                        </div>
                </div>

                    <footer class="page_footer ds ms">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 footer-block__01 to_animate decoration__line_l  " >
                                    <div class="widget widget_text page-footer__logo">
                                        <p class="page-footer__logo-wrapper"><img src="<%$smarty.const.PUBLIC_ROOT_URL%>images/logo_bottom.png" alt=""></p>
                                        <p>&nbsp;&nbsp;首先，欢迎您的到来，爱加HOME社交购物平台是全球供应链双向一体化电商服务平台。您现在所在的群即属于爱加HOME社交购物平台。本平台是将集团线下实体便利店所签约的
                                            供应商、厂家的产品直接向您推荐，所有商品均来自经集团考察审核过的正规渠道，所有产品在便利店及超市均有销售。通过本社交购物频台所销售的产品，因为减少
                                            了店租，运输等高昂的成本，所以价格要便宜很多，真正将边界与实惠带到您的身边。
                                            我们每天会由爱加HOME社交购物平台向您推荐3-4款产品.并且由我们的产品体验师以视频和图片介绍及文字描述的形式向您进行产品展示。再次，爱加HOME社交购物平台对您表示中心的感谢!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                    <footer class="footer text-right">
                        Copyright &copy; 2018.爱加社区
                    </footer>
            </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->
    </body>

    <!-- jQuery  -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/popper.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/bootstrap.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/metisMenu.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/waves.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.slimscroll.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/counterup/jquery.counterup.min.js"></script>

    <!-- Chart JS -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>plugins/chart.js/chart.bundle.js"></script>

    <!-- init dashboard -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/pages/jquery.dashboard.init.js"></script>

    <!-- App js -->
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.core.js"></script>
    <script src="<%$smarty.const.PUBLIC_ROOT_URL%>assets/js/jquery.app.js"></script>

    <script src="<%$smarty.const.AJS_URL%>compressed.js"></script>
    <script src="<%$smarty.const.AJS_URL%>main.js?version=00.00.01"></script>
</html>