<!DOCTYPE html>
<html>
<head lang="en">
<title>爱加社区</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title></title>
    <link rel="stylesheet" href="<%$smarty.const.ACSS_URL%>common.css?version=1.01.03"/>
    <link rel="stylesheet" href="<%$smarty.const.ACSS_URL%>login.css?version=1.01.03"/>
    <style>
        .login_bg{
            background: #ffffff;
        }
        .login_btn{
            width: 80%;
            margin: 10%;
        }
        .other_login{
            top: 70%;
        }
        .other_choose{
            top: 80%;
        }
    </style>
</head>
<body>
<div class="login_bg">
    <div id="logo">
        <img src="<%$smarty.const.AIMAGE_URL%>logo.png" alt=""/>
    </div>
    <a class="login_btn" href="<%$smarty.const.__CONTROLLER__%>/login">登&nbsp;&nbsp;录</a>
    <!--a class="login_btn" href="<%$smarty.const.__CONTROLLER__%>/register">注&nbsp;&nbsp;册</a-->
    <!--div class="other_login">
        <div class="other"></div>
        <span>其他方式登录</span>
        <div class="other"></div>
    </div-->
    <!--div class="other_choose">
        <a href="">
            <img src="<%$smarty.const.AIMAGE_URL%>qq.png" alt=""/>
        </a>
        <a href="">
            <img src="<%$smarty.const.AIMAGE_URL%>wx.png" alt=""/>
        </a>
        <a href="">
            <img src="<%$smarty.const.AIMAGE_URL%>wb.png" alt=""/>
        </a>
    </div-->
    <footer class="footer text-right">
        Copyright &copy; 2018.爱加社区
    </footer>
</div>
</body>
</html>